@mixin media-max($width) {
  @media screen and (max-width:$width) {
    @content;
  }
}

@mixin media-min($width) {
  @media screen and (min-width:$width) {
    @content;
  }
}

@mixin center-vertically {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin transition($to: all, $time: 0.2s, $easing: ease-in-out) {
  transition: $to $time $easing;
}

@mixin font($size: false, $colour: false, $weight: false,  $lh: false) {
  // font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  @if $size { font-size: $size; }
  @if $colour { color: $colour; }
  @if $weight { font-weight: $weight; }
  @if $lh { line-height: $lh; }
}

@mixin flex( $direction: false, $jc: false,  $ai: false) {
display: flex;
flex-direction: $direction;
justify-content: $jc;
align-items: $ai;
}

@mixin btn($padding: false,$border: false,$bcolor: false, $tt: false,$br: false) {
  padding: $padding;
  border: $border;
  border-radius: $br;
  background-color: $bcolor;
  text-transform: $tt;
  // font-weight: bold;
  // font-size: 12px;
}

@mixin testimonial-text {
    color: $color_light;
    line-height: 25px;
    text-align: center;
    font-size: 24px;
}