/*=================================
  main styling starts here
=================================*/

/* hero section starts here */
.hero-section {
  .wrapper {
    width: 100%;
    background-image:linear-gradient(rgba(0,0,0, 0.6), rgba(0,0,0, 0.1)), url('../img/intro-bg.jpg');
    background-size: cover;
    @include flex(null,center,center);
    position: relative;
  }

  .hero-content{
    padding: 455px 0 281px;
    @include flex(column,center,center);

    a{
      padding: 24px 30px;
      border-radius: 5px;
      color:$color_light;
      font-weight: bold;
      font-size: 22px;
      text-align: center;
      text-transform: uppercase;
      background-color: #69ad31;
      transition: .5s ease ;
      &:hover{
        background-color: black;
      }
    }
    h2{
      font-size: 90px;
      color:$color_light;
      text-transform: uppercase;
      font-weight: bolder;
    }
    
    p{
      width: 50%;
      margin: 22px 0 63px;
      color: $color_light;
      font-size: 27px;
      text-align: center;
      line-height: 1.6;
    }
    
  }  
}

/* hero section ends here */

/* section 1 section starts here */

.section1{
  position: relative;
  background-color: #f6f6f6;
  .wrapper{
    padding: 170px 0;
    display: flex;
    justify-content: space-between;
  }

}

.section1-left {
flex-basis: 48%;
h3 {
  font-size: 51px;
  padding-bottom:5px;
  font-weight: bold;
  position: relative;
  
  span{
    color: #69ad31;
    font-weight: bold;
  }
}

p {
  margin-top: 83px;
  line-height: 1.6;
  font-size: 22px;
  color: #8b8b8b;
}
p:nth-of-type(2) {
  margin-top: 22px;
}

a {
  padding:23px 31px;
  margin-top: 64px;
  border-radius: 5px;
  background-color: #69ad31; 
  color: $color_light;
  font-size: 23px;
  text-align: center;
  text-transform: uppercase;
  &:hover{
    background-color: black;
    transform: scale(1.2);
  }
}

}

.section1-right {
  flex-basis: 48%;
  ul{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  li{
  flex-basis: 47.25%;
  }
  }

   h4{
    margin: 28px 0 27px;
    font-size: 31px;
    font-weight: bold;
  }
   p{
    line-height: 1.6;
    font-size: 20px;
    color: #8b8b8b;
  }

}

// section 1 ends here

// section 2 starts here
.section2{
  background-color: #69ad31;
  .wrapper{
    padding: 100px 0 222px;
    display: flex;
    flex-direction: column;
  }
  &__title{
    margin-top: 68px;
    padding-bottom:5px;
    position: relative;
    color: $color_light;
    font-size: 53px;
    font-weight: bold;
    text-align: center;
  }
  &__title::after {
    content: "";
    width: 100px;
    height: 0;
    border-top: 4px solid $color_light;
    display: block;
    position: absolute;
    top: 84px;
    left: 50%;
    transform: translateX(-50%);
  }
  &__para {
    margin-top: 54px;
    color:#c6e8b8;
    font-size: 27px;
  }


  .our-serviceslist{
    margin: 128px 27px 0;
    display: flex;
    justify-content: space-between;
    /* padding-top: 100px; */
    li{
      flex-basis: 20.62%;  
    }
  }
  figure{
    border-radius: 50%;
    border: 10px solid #78b546;
  }
  img {
    border-radius: 50%;
  }

  h4{
    margin-top: 35px 0 17px;
    color:$color_light;
    font-size: 33px;
    text-align: center;
  }
  h4:last-of-type {
  letter-spacing: -2px;
  }
  p {
    color:#c6e8b8;
    text-align:center;
    line-height: 1.6;
    font-size: 21px;
  }

}
  
// section 2 ends here

// section 3 starts here
.section3{
  background-color:  #f6f6f6;
  position: relative;
  .wrapper{
    padding: 154px 0 165px;
    // display: flex;
    // flex-direction: column;
  }

    &__title{
    padding-bottom:5px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    position: relative;
    }

    &__title::after {
    height: 0;
    width: 100px;
    content: "";
    display: block;
    position: absolute;
    top: 84px;
    left: 125px;
    border-top: 4px solid #66a333;
    }

    &__para{
      margin-top: 56px;
      color:#a9a8a9;
      text-align: center;
      font-size: 25px;
    }

    .gallery-filters{
      width: 46.65%;
      margin: 90px auto 20px;
      display: flex;
      justify-content: space-between;
        li{
          padding:18px 25px;
          border-radius: 5px;
          display: inline-block;
          background-color: #a9a8a9;
          color: $color_light;
          text-transform: uppercase;
          cursor: pointer;
          font-size: 21px;                      
          &:hover{
            border-radius: 5px;
            transition: all 0.3s;
            background-color: #69ad31;
            color: $color_light;
          }
        }
    }
    .gallerylist {
      margin-top: 62px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      li{
      flex-basis: 32.55%;
      &:nth-child(-n+6){
      margin-bottom:43px;
      }
      }
      img:hover{
        transition: all 0.3s;
        opacity: 0.7;
      }
    }
}

// .gallery-filters li:first-child{
// border-radius: 5px;
// background-color: #69ad31;
// color: white;
// cursor: pointer;
// }

// section 3 ends here

// section 4 starts here
.section4 {
  padding: 173px 0 181px;
  background: linear-gradient(rgba(106,166,50, 0.8), rgba(106,166,50, 0.8)), url('../img/testimonials-bg.jpg');
  h3 {
    padding-bottom: 5px;
    position: relative;
    color: $color_light;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    &::after {
      content: "";
      width: 96px;
      height: 0;
      border-top: 4px solid $color_light;
      display: block;
      position: absolute;
      top: 79px;
      left:96px;
    }
  }
  
  .testimonials-list  {
      li { &:nth-of-type(n+2) { display: none; } }
      p {
        @include testimonial-text;
        margin: 0 10.62%;
      }
      span {
        @include testimonial-text;
        margin-top: 36px;
        display: block;
        text-align: center;
      }
    }
    

    
}

// .testimonials-inner>hr {
//   width: 50px;
//   border:none;
//   border-top: 10px dotted $color_light;
// }









// section 4 ends here


/*=================================
  main styling ends here
=================================*/